#centro {
width:100px;
height:100px;
position:absolute;
top:10%;
left:40%;
}
.spaco-entre-campos{
  padding-top: 10px;
}
.head-margem{
  padding-top: 10px;
}
.border-cadastro {
  border-width: medium;
  border-style: solid;
  border-color: #00f;
  }
.head-margem-div{
 position:absolute;
 top:7%;
 left:25%;
}
